spring:
  datasource:
    url: jdbc:h2:file:./data/pheonix-db
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
  h2:
    console:
      path: /h2-console
      enabled: true