name: CI Checks - Feature Branches
on:
  push:
    branches:
      - 'feature/**'
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4