name: CI Checks - Feature Branches
on:
  push:
    branches:
      - 'feature/**'
jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: 'gradle'
      - name: grant executable status to gradlew
        run: chmod +x gradlew

      - name: Run commit tests
        run: ./gradlew test
